$border: 1px solid grey;


body {
    background-color: grey;
    header{
        background-color: #A7A4A4;
        
        div{
          
            div{
                
                border: $border;
                color: white;
                height: 30px;
                text-align: center;
                padding: 15px 0;
                height: 50px;
                width: 100%;
            }
        }
    }
    .title {
        font-size: 50px;
    }
    p.line{
        display: inline;
        font-size: 20px;
    }
    .lower{
        border:1px solid white;
        background-image: linear-gradient(to bottom, white, gray);
    }
    .mid {
        border:1px solid #290909;
    }

}